<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="../js/check_box.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<center>
<body ng-controller="CheckBoxCtroller">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">
  
            <div class="cover-container">

                <div class="inner cover">
                    <h1>Choose Characters</h1>
                    <div class="container">
                    <div class="row">
                        <div class="card" style="width: 11rem;">
                            <img src="troublemaker.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Troublemaker</h5>
                              <p class="card-text">At night, the Troublemaker may switch the cards of two other players without looking at those.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 11rem;">
                            <img src="robber.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Robber</h5>
                              <p class="card-text">At night, the Robber may choose to rob a card from another player and place his Robber card where the other card was. Then the Robber looks at his new card.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 11rem;">
                            <img src="werewolf.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Werewolf</h5>
                              <p class="card-text">At night, all Werewolves open their eyes and look for other werewolves. If there is only one werewolf, the only werewolf can look at one card in the center.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 11rem;">
                            <img src="seer.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Seer</h5>
                              <p class="card-text">At night, the Seer may look either at one other player's card or at two of the center cards, but does not move them.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 11rem;">
                            <img src="drunk.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Drunk</h5>
                              <p class="card-text">When it comes time to wake up at night, the Drunk exchange his Drunk card for any card in the center, but he does not look at it.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 11rem;">
                            <img src="villager.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Villager</h5>
                              <p class="card-text">The Villager has no special abilities, but he is definitely not a werewolf. </p>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    

                    <table border="1">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()"></th>
                                <th>Available Characters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in model.entities" ng-class="{selected: entity.isChecked}">
                                <td><input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()"></td>
                                <td>{{entity.value}}</td>
                            </tr>
                        </tbody>
                    </table>
            
                    <div>
                        <button type="button" class="btn btn-outline-secondary" ng-click='countPlayer()'>确定</button>
                    </div>

                    <div>
                        Required number of players: {{numPlayer}}
                    </div>
                </div>
  
            </div>
  
        </div>
  
    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</center>
</html>


